@{
    ViewBag.Title = "Estatistica";
    ViewBag.Screen = "Estatistica";
}

<!-- Page content -->
<div class="content">
    <div class="row">
        <div class="col m6 l6 offset-m3">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col m6 l6 offset-m3">
            <canvas id="myChart1"></canvas>
        </div>
    </div>
</div>