@{
    ViewBag.Title = "Planta";
    ViewBag.Screen = "Planta";
}

<!-- Page content -->
<div class="row mt">
    <div id="modalId"></div>
    <div class="col s12 m6 l2 offset-l1" id="listEProducao">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="fas fa-pallet colorEConector"></i>Conectores</div>
                <div class="collapsible-body">

                    <table id="tconectores">
                        <tbody>
                            <tr>
                                <td><div id="cn1" class="dragBase conectorP Cfront reciveCfront"><img src="~/Content/images/cn1.png" /></div></td>
                            </tr>
                            <tr>
                                <td><div id="cn2" class="dragBase conectorP Cfront reciveCfront reciveCup"><img src="~/Content/images/cn2.png" /></div></td>
                            </tr>
                            <tr>
                                <td><div id="cn3" class="dragBase conectorP Cfront reciveCfront reciveCup reciveCdown"><img src="~/Content/images/cn3.png" /></div></td>
                            </tr>
                            <tr>
                                <td><div id="cn4" class="dragBase conectorP Cfront reciveCfront reciveCdown"><img src="~/Content/images/cn4.png" /></div></td>
                            </tr>
                            <tr>
                                <td><div id="cn5" class="dragBase conectorP Cfront reciveCup"><img src="~/Content/images/cn5.png" /></div></td>
                            </tr>
                            <tr>
                                <td><div id="cn6" class="dragBase conectorP Cfront reciveCup reciveCdown"><img src="~/Content/images/cn6.png" /></div></td>
                            </tr>
                            <tr>
                                <td><div id="cn7" class="dragBase conectorP Cfront reciveCdown"><img src="~/Content/images/cn7.png" /></div></td>
                            </tr>
                            <tr>
                                <td><div id="cn8" class="dragBase conectorP Cdown reciveCfront"><img src="~/Content/images/cn8.png" /></div></td>
                            </tr>
                            <tr>
                                <td><div id="cn9" class="dragBase conectorP Cdown reciveCdown"><img src="~/Content/images/cn9.png" /></div></td>
                            </tr>
                            <tr>
                                <td><div id="cn10" class="dragBase conectorP Cup reciveCup"><img src="~/Content/images/cn10.png" /></div></td>
                            </tr>
                            <tr>
                                <td><div id="cn11" class="dragBase conectorP Cup reciveCfront"><img src="~/Content/images/cn11.png" /></div></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-pallet colorEModel"></i>Esteiras Modelo</div>
                <div class="collapsible-body">

                    <table id="tmodelo">
                        <tbody></tbody>
                    </table>

                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-pallet colorEArmazem"></i>Esteiras de armazenamento</div>
                <div class="collapsible-body">

                    <table id="tarmazenamento">
                        <tbody></tbody>
                    </table>

                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-pallet colorEEtiqueta"></i>Esteiras etiquetadoras</div>
                <div class="collapsible-body">

                    <table id="tetiquetadora">
                        <tbody></tbody>
                    </table>

                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-pallet colorEDesvio"></i>Esteiras de desvio</div>
                <div class="collapsible-body">

                    <table id="tdesvio">
                        <tbody></tbody>
                    </table>

                </div>
            </li>
        </ul>
    </div>






    <!-- Tabela -->
    <div class="col s12 m9" style="margin: .5rem 0 1rem 0;" id="producaoBox">

        <div class="row">
            <div class="col s8 m6 l8 offset-l1 offset-s1 noPadding">
                <p>Tamanho mínimo</p>
                <div class="col s4 m1 l1">
                    <div class="input-field">
                        <input id="tamanho_x" value="1" type="number" min="1" class="validate">
                        <label for="tamanho_x">X</label>
                    </div>
                </div>
                <div class="col s4 m1 l1">
                    <div class="input-field">
                        <input id="tamanho_y" value="1" type="number" min="1" class="validate">
                        <label for="tamanho_y">Y</label>
                    </div>
                </div>
                <div class="col s4 m1 l2 offset-l1">
                    <a onclick="applyReajust()" class="waves-effect green darken-4 waves-light btn">Aplicar</a>
                </div>
            </div>
            <div class="col s4 m1 l2 trashMargin">
                <div class="dTrash red darken-4"><i class="material-icons branco">delete_forever</i></div>
            </div>
        </div>

        <div class="row">

            <div class="col s12 m10 offset-m1 noPadding">
                <table id="tdropesteiras" class="tableStyle">
                    <tbody>
                        <tr>
                            <td class="tCellFirst no-padding" data-i=0 data-j=0>y\x</td>
                            <td class="tCellColumn no-padding" data-i=0 data-j=i>1</td>
                        </tr>
                        <tr>
                            <td class="tCellLines no-padding" data-i=1 data-j=0>1</td>
                            <td class="tCell" data-i=1 data-j=1></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col s12 m10 offset-m1 trashMargin">
                <a class="waves-effect waves-light btn red darken-4 mleft" onclick="clearContent()">limpar planta</a>
                <a class="waves-effect waves-light btn green darken-4" onclick="saveContent()">Salvar planta</a>
            </div>

        </div>

    </div>



    <!-- Start of Modal41 -->
        <div id="modal41" class="modal modal1">
            <div class="modal-content">
            <div class="row">
                <div class="col s8">
                    <h5 id="modalName"><b></b></h5><br>
                    <p id="modalDescription"></p>
                    <p id="modalLimit"></p>
                    <p id="modalType"></p>
                    <p id="modalAbout"></p>
                </div>
                <div class="col s4">
                    <p>Status da esteira</p>
                    <div id="modalSwitch" class="switch">
                        <label>
                            Desligado
                            <input id="onOffEsteira" type="checkbox">
                            <span class="lever"></span>
                            Ligado
                        </label>
                    </div>
                    <br>
                    <div class="input-field col s8">
                        <input id="numberC" type="number" value="1" min="1" class="active validate">
                        <label class="active" for="numberC">Peças p/ chumbar</label>
                    </div>
                    <a class="waves-effect waves-light btn green darken-4" id="btnChumbar">Chumbar peça</a>
                </div>
            </div>
            <div class="row">
                <div class="col s6 m6 l6">
                    <table id="tablePieces">
                        <tr>
                            <th>Peças na fila de entrada</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>1702018</td>
                            <td><a class="modal-trigger" href="#modal40">Detalhes</a></td>
                            <td>1702018</td>
                            <td><a class="modal-trigger" href="#modal40">Detalhes</a></td>
                        </tr>
                        <tr>
                            <td>6900001</td>
                            <td><a class="modal-trigger" href="#modal40">Detalhes</a></td>
                        </tr>
                    </table>
                </div>
                <div class="col s6 m6 l6">
                    <table id="tablePiecesProd">
                        <tr>
                            <th>Peça em produção</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>1702018</td>
                            <td><a class="modal-trigger" href="#modal40">Detalhes</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
        </div>
    <!-- End of Modal41 -->


    <!-- Start of Modal40 -->
    <div id="modal40" class="modal modal2">
        <div class="modal-content">
            <div class="row">
                <div class="col s10">
                    <p id="modalTag"><b>Tag</b>: {sucess}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <b>Processos executados</b>
                    <table id="tableAtPiece">
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Estado</th>
                            <th>Value</th>
                            <th>Data</th>
                            <th>Tempo Exc.</th>
                        </tr>
                        <tr>
                            <td>0001</td>
                            <td>Lavação</td>
                            <td>Concluído</td>
                            <td>5474A</td>
                            <td>2018-10-04</td>
                            <td>55s</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button href="#!" class="waves-effect waves-green btn-flat" onclick="closeModal40()">Fechar</button>
        </div>
    </div>
    <!-- End of Modal40-->
</div>