@{
    ViewBag.Title = "Wiki";
    ViewBag.Screen = "Wiki";
}
<div class="content">
    <div class="row mtList">
        <div class="col s12 m4 offset-m3" >
            <h5>Processos</h5>
            <ul>
                <li><a href="#newProcess">Criando/Editando um processo</a></li>
                <li><a href="#appError">Aplicando a probabilidade de erro</a></li>
                <li><a href="#utVariation">Utilizando variação</a></li>
                <li><a href="#">Utilizando um processo pai</a></li>
            </ul>

            <h5>Esteiras</h5>
            <ul>
                <li><a href="#">Criando uma nova esteira</a></li>
                <li><a href="#">Tipos de esteiras</a></li>
                <li><a href="#">Limite de entrada</a></li>
            </ul>
        </div>
        <div class="col s12 m4">

            <h5>Planta</h5>
            <ul>
                <li><a href="#">Finalidade da planta</a></li>
                <li><a href="#">Tamanho mínimo</a></li>
                <li><a href="#">Criando uma simulação</a></li>
                <li><a href="#">Utilizando os conectores</a></li>
                <li><a href="#">Salvamento da planta</a></li>
            </ul>

            <h5>Dashboard</h5>
            <ul>
                <li><a href="#">Nível de debug</a></li>
                <li><a href="#">Limpando a dashboard</a></li>
            </ul>
        </div>
    </div>

    <div class="row mtExp">
        <div class="col s12 m10 offset-m1">
            <h5>Processos</h5>
            <p class="ProcessTUT" id="newProcess">Criando/Editando um processo</p>
            <ul class="collapsible popout">
                <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>Finalidade de um processo</div>
                    <div class="collapsible-body">
                        <span>Processo são diversas etapas que uma peça terá que atravessar para completar uma certa operação. Ou seja, é qualquer ação que a peça terá que passar.</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-cogs"></i>Criando o processo</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection with-header">
                                <li class="collection-header">Para realizar a criação ou a edição de um novo processo, os próximos passos devem ser seguidos:</li>
                                <li class="collection-item">
                                    <b>1-</b> Acessar a página de Processos, pode ser acessada através do botão na barra de navegação:<br>
                                    <img class="mbTut" src="content/images/wiki/process1.jpg"/><br>

                                    <b>2-</b> Ao carregar a página, clique no seguinte botão:<br>
                                    <img class="mbTut" src="content/images/wiki/process2.jpg"/><br>

                                    <b>3-</b> Após clicar no botão, os seguintes campos devem ser liberados, preencha todas as informações:<br>
                                    <img class="mbTut" src="content/images/wiki/process3.jpg"/><br>

                                    <b>4-</b> Preenchidos todos os campos, basta clicar em criar:<br>
                                    <img class="mbTut" src="content/images/wiki/process4.jpg" /><br>

                                    <b>5-</b> Após criado, o processo deverá estar listado da seguinte forma:<br>
                                    <img class="mbTut" src="content/images/wiki/process5.jpg"/>
                                    <p class="warning">O processo irá aparecer de acorodo com a posição informada no processo de criação</p>
                                </li>
                            </ul>

                        </span>
                    </div>
                </li>
            </ul>

            <p class="ProcessTUT" id="appError">Aplicando a probabilidade de erro</p>
            <ul class="collapsible popout">
                 <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>Finalidade da probabilidade de erro</div>
                    <div class="collapsible-body">
                        <span> A função da probabilidade de erro é manter uma margem de erro máxima permitida para o processo. <br>
                                    <b>Ex.:</b> Um processo possui 5% de probabilidade, então, o processo ao executar pode ter ATÉ 5% de falhar.<br></span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-cogs"></i>Aplicando a probabilidade de erro</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection with-header">
                                <li class="collection-header">
                                    Para utilizar basta seguir os seguintes passos:<br>
                                </li>
                                <li class="collection-item">
                                    <b>1-</b> Acessar a página de Processos, pode ser acessada através do botão na barra de navegação:<br>
                                    <img class="mbTut" src="content/images/wiki/process1.jpg"/><br>

                                    <b>2-</b> A utilização da probabilidade pode ser feita no ato da criação ou da edição do processo.<br>
                                    Para aplicar, basta preencher o campo a seguir:<br>
                                    <img class="mbTut" src="content/images/wiki/process6.jpg"/><br>
                                    Após preenchido, basta clicar em salvar, ou então criar o processo (caso esteja no processo de criação).
                                </li>
                            </ul>

                        </span>
                    </div>
                </li>
            </ul>

            <p class="ProcessTUT" id="utVariation">Utilizando variação</p>
            <ul class="collapsible popout">
                 <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>Finalidade da variação</div>
                    <div class="collapsible-body">
                        <span> A função da variação, é a porcentagem em que o tempo de execução do processo poderá sofrer.<br>
                        <b>Ex.:</b> Um processo possui 5% de variação, então, o processo ao executar pode levar 5% a mais ou a menos de tempo estabelecido, para terminar.<br></span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-cogs"></i>Utilizando variação</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection with-header">
                                <li class="collection-header">
                                    Para utilizar basta seguir os seguintes passos:<br>
                                </li>
                                <li class="collection-item">
                                    <b>1-</b> Acessar a página de Processos, pode ser acessada através do botão na barra de navegação:<br>
                                    <img class="mbTut" src="content/images/wiki/process1.jpg"/><br>

                                    <b>2-</b> A utilização da variação pode ser feita no ato da criação ou da edição do processo.<br>
                                    Para aplicar, basta preencher o campo a seguir:<br>
                                    <img class="mbTut" src="content/images/wiki/process7.jpg"/><br>
                                    Após preenchido, basta clicar em salvar, ou então criar o processo (caso esteja no processo de criação).
                                </li>
                            </ul>

                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>