@{
    ViewBag.Title = "Wiki";
    ViewBag.Screen = "Wiki";
}
<div class="content">
    <div class="row mtList">
        <div class="col s12 m4 offset-m3" >
            <h5>Processos</h5>
            <ul>
                <li><a href="#newProcess">Criando/Editando um processo</a></li>
                <li><a href="#">Aplicando a probabilidade de erro</a></li>
                <li><a href="#">Utilizando variação</a></li>
                <li><a href="#">Utilizando um processo pai</a></li>
            </ul>

            <h5>Esteiras</h5>
            <ul>
                <li><a href="#">Criando uma nova esteira</a></li>
                <li><a href="#">Tipos de esteiras</a></li>
                <li><a href="#">Limite de entrada</a></li>
            </ul>
        </div>
        <div class="col s12 m4">

            <h5>Planta</h5>
            <ul>
                <li><a href="#">Finalidade da planta</a></li>
                <li><a href="#">Tamanho mínimo</a></li>
                <li><a href="#">Salvamento da planta</a></li>
                <li><a href="#">Utilizando os conectores</a></li>
                <li><a href="#">Criando uma simulação de exemplo</a></li>
            </ul>

            <h5>Dashboard</h5>
            <ul>
                <li><a href="#">Nível de debug</a></li>
                <li><a href="#">Limpando a dashboard</a></li>
            </ul>
        </div>
    </div>

    <div class="row mtExp">
        <div class="col s12 m10 offset-m1">
            <h5>Processos</h5>
            <p id="newProcess">Criando/Editando um processo</p>
            <ul class="collapsible popout">
                <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>Finalidade de um processo</div>
                    <div class="collapsible-body">
                        <span>Processo são diversas etapas que uma peça terá que atravessar para completar uma certa operação. Ou seja, é qualquer ação que a peça terá que passar.</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-cogs"></i>Criando o processo</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection with-header">
                                <li class="collection-header">Para realizar a criação ou a edição de um novo processo, os próximos passos devem ser seguidos:</li>
                                <li class="collection-item">
                                    1- Acessar a página de Processos, pode ser acessada através do botão na barra de navegação:<br><br>
                                    <img src="content/images/wiki/process1.jpg"/>
                                </li>
                            </ul>

                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>