@{
    ViewBag.Title = "Wiki";
    ViewBag.Screen = "Wiki";
}
<div class="content">
    <div class="row mtList">
        <div class="col s12 m4 offset-m3" >
            <h5>Processos</h5>
            <ul>
                <li><a href="#newProcess">Criando/Editando um processo</a></li>
                <li><a href="#appError">Aplicando a probabilidade de erro</a></li>
                <li><a href="#utVariation">Utilizando variação</a></li>
                <li><a href="#utFather">Utilizando um processo pai</a></li>
            </ul>

            <h5>Esteiras</h5>
            <ul>
                <li><a href="#newConveyor">Criando/editando uma esteira</a></li>
                <li><a href="#inLimit">Limite de entrada</a></li>
                <li><a href="#conTypes">Tipos de esteiras</a></li>
            </ul>
        </div>
        <div class="col s12 m4">

            <h5>Planta</h5>
            <ul>
                <li><a href="#">Finalidade da planta</a></li>
                <li><a href="#">Tamanho mínimo</a></li>
                <li><a href="#">Criando uma simulação</a></li>
                <li><a href="#">Utilizando os conectores</a></li>
                <li><a href="#">Salvamento da planta</a></li>
            </ul>

            <h5>Dashboard</h5>
            <ul>
                <li><a href="#">Nível de debug</a></li>
                <li><a href="#">Limpando a dashboard</a></li>
            </ul>
        </div>
    </div>

    <div class="row mtExp">
        <div class="col s12 m10 offset-m1">
            <h5>Processos</h5>
            <p class="ProcessTUT" id="newProcess">Criando/Editando um processo</p>
            <ul class="collapsible popout">
                <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>Finalidade de um processo</div>
                    <div class="collapsible-body">
                        <span>Processo são diversas etapas que uma peça terá que atravessar para completar uma certa operação. Ou seja, é qualquer ação que a peça terá que passar.</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-cogs"></i>Criando o processo</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection with-header">
                                <li class="collection-header">Para realizar a criação ou a edição de um novo processo, os próximos passos devem ser seguidos:</li>
                                <li class="collection-item">
                                    <b>1-</b> Acessar a página de Processos, pode ser acessada através do botão na barra de navegação:<br>
                                    <img class="mbTut" src="content/images/wiki/process1.jpg"/><br>

                                    <b>2-</b> Ao carregar a página, clique no seguinte botão:<br>
                                    <img class="mbTut" src="content/images/wiki/process2.jpg"/><br>

                                    <b>3-</b> Após clicar no botão, os seguintes campos devem ser liberados, preencha todas as informações:<br>
                                    <img class="mbTut" src="content/images/wiki/process3.jpg"/><br>

                                    <b>4-</b> Preenchidos todos os campos, basta clicar em criar:<br>
                                    <img class="mbTut" src="content/images/wiki/process4.jpg" /><br>

                                    <b>5-</b> Após criado, o processo deverá estar listado da seguinte forma:<br>
                                    <img class="mbTut" src="content/images/wiki/process5.jpg"/>
                                    <p class="warning">O processo irá aparecer de acorodo com a posição informada no processo de criação</p>
                                </li>
                            </ul>

                        </span>
                    </div>
                </li>
            </ul>

            <p class="ProcessTUT" id="appError">Aplicando a probabilidade de erro</p>
            <ul class="collapsible popout">
                 <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>Finalidade da probabilidade de erro</div>
                    <div class="collapsible-body">
                        <span> A função da probabilidade de erro é manter uma margem de erro máxima permitida para o processo. <br>
                                    <b>Ex:</b> Um processo possui 5% de probabilidade, então, o processo ao executar pode ter ATÉ 5% de falhar.<br></span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-cogs"></i>Aplicando a probabilidade de erro</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection with-header">
                                <li class="collection-header">
                                    Para utilizar basta seguir os seguintes passos:<br>
                                </li>
                                <li class="collection-item">
                                    <b>1-</b> Acessar a página de Processos, pode ser acessada através do botão na barra de navegação:<br>
                                    <img class="mbTut" src="content/images/wiki/process1.jpg"/><br>

                                    <b>2-</b> Selecione um processo, ou então, clique para criar um novo.<br><br>

                                    <b>3-</b> A utilização da probabilidade pode ser feita no ato da criação ou da edição do processo.<br>
                                    Para aplicar, basta preencher o campo a seguir:<br>
                                    <img class="mbTut" src="content/images/wiki/process6.jpg"/><br>
                                    Após preenchido, basta clicar em salvar, ou então criar o processo (caso esteja no processo de criação).
                                </li>
                            </ul>

                        </span>
                    </div>
                </li>
            </ul>

            <p class="ProcessTUT" id="utVariation">Utilizando variação</p>
            <ul class="collapsible popout">
                 <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>Finalidade da variação</div>
                    <div class="collapsible-body">
                        <span> A função da variação, é a porcentagem em que o tempo de execução do processo poderá sofrer.<br>
                        <b>Ex:</b> Um processo possui 5% de variação, então, o processo ao executar pode levar 5% a mais ou a menos de tempo estabelecido, para terminar.<br></span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-cogs"></i>Utilizando variação</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection with-header">
                                <li class="collection-header">
                                    Para utilizar basta seguir os seguintes passos:<br>
                                </li>
                                <li class="collection-item">
                                    <b>1-</b> Acessar a página de Processos, pode ser acessada através do botão na barra de navegação:<br>
                                    <img class="mbTut" src="content/images/wiki/process1.jpg"/><br>

                                    <b>2-</b> Selecione um processo, ou então, clique para criar um novo.<br><br>

                                    <b>3-</b> A utilização da variação pode ser feita no ato da criação ou da edição do processo.<br>
                                    Para aplicar, basta preencher o campo a seguir:<br>
                                    <img class="mbTut" src="content/images/wiki/process7.jpg"/><br>
                                    Após preenchido, basta clicar em salvar, ou então criar o processo (caso esteja no processo de criação).
                                </li>
                            </ul>

                        </span>
                    </div>
                </li>
            </ul>

            <p class="ProcessTUT" id="utFather">Utilizando um processo pai</p>
            <ul class="collapsible popout">
                 <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>Finalidade do processo pai</div>
                    <div class="collapsible-body">
                        <span> 
                            A função do processo pai é abranger vários processos. É um processo que possui sub-processos.<br>
                            <b>Ex:</b> O processo X possui como sub-processos A e B. Então, o processo PAI é X e processos filhos são A e B<br>
                            Serão executados os processos X, A e B; Nesta ordem.
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-cogs"></i>Aplicando o processo pai</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection with-header">
                                <li class="collection-header">
                                    Para utilizar basta seguir os seguintes passos:<br>
                                </li>
                                <li class="collection-item">
                                    <b>1-</b> Acessar a página de Processos, pode ser acessada através do botão na barra de navegação:<br>
                                    <img class="mbTut" src="content/images/wiki/process1.jpg"/><br>

                                    <b>2-</b> Selecione um processo, ou então, clique para criar um novo.<br><br>

                                    <b>3-</b> A aplicação do processo pai, pode ser feita no ato da criação ou da edição do processo.<br>
                                    Para aplicar, basta selecionar o processo a ser definido como pai, clicando no botão a seguir:<br>
                                    <img class="mbTut" src="content/images/wiki/process8.jpg"/><br>
                                    <b>Obs¹:</b> Após selecionado, basta clicar em salvar, ou então criar o processo (caso esteja no processo de criação).<br>
                                    <b>Obs²:</b> Caso não exista outro processo criado, será impossível definir um processo pai.
                                </li>
                            </ul>

                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mtExp">
        <div class="col s12 m10 offset-m1">
            <h5>Esteiras</h5>
            <p class="ProcessTUT" id="newConveyor">Criando/Editando uma esteira</p>
            <ul class="collapsible popout">
                <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>Finalidade de uma esteira</div>
                    <div class="collapsible-body">
                        <span>É definido por esteira, a máquina que possui um superfície que se movimenta. No WEG Simulator, a esteira realiza processos, ou seja, ela transporta a peça e realiza os devidos processos, e após concluído, transfere para outra esteira.</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-cogs"></i>Criando uma esteira</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection with-header">
                                <li class="collection-header">Para realizar a criação ou a edição de uma nova esteira, os próximos passos devem ser seguidos:</li>
                                <li class="collection-item">
                                    <b>1-</b> Acessar a página de Esteiras, pode ser acessada através do botão na barra de navegação:<br>
                                    <img class="mbTut" src="content/images/wiki/esteira1.jpg"/><br>

                                    <b>2-</b> Ao carregar a página, clique no seguinte botão:<br>
                                    <img class="mbTut" src="content/images/wiki/esteira2.jpg"/><br>

                                    <b>3-</b> Após clicar no botão, os seguintes campos devem ser liberados, preencha todas as informações:<br>
                                    <img class="mbTut" src="content/images/wiki/esteira4.jpg"/><br>

                                    <b>4-</b> Preenchidos todos os campos, basta clicar em criar:<br>
                                    <img class="mbTut" src="content/images/wiki/esteira3.jpg" /><br>

                                    <b>5-</b> Após criado, o processo deverá estar listado na lista correspondente ao tipo selecionado:<br>
                                    <img class="mbTut" src="content/images/wiki/esteira5.jpg"/>
                                    <p class="warning">O processo irá aparecer de acorodo com a posição informada no processo de criação</p>
                                </li>
                            </ul>

                        </span>
                    </div>
                </li>
            </ul>

            <p class="ProcessTUT" id="inLimit">Limite de entrada</p>
            <ul class="collapsible popout">
                 <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>Finalidade do limite de entrada</div>
                    <div class="collapsible-body">
                        <span> 
                            A função do limite de entrada, é limitar o número de peças que a esteira suporte. <br>
                            <b>Ex:</b> Uma esteira possui 5 como limite de entrada, então, a esteira irá permitir que apenas 5 peças fiquem na fila execução.<br>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-cogs"></i>Aplicando o limite de entrada</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection with-header">
                                <li class="collection-header">
                                    Para utilizar basta seguir os seguintes passos:<br>
                                </li>
                                <li class="collection-item">
                                    <b>1-</b> Acessar a página de Esteiras, pode ser acessada através do botão na barra de navegação:<br>
                                    <img class="mbTut" src="content/images/wiki/esteira1.jpg"/><br>

                                    <b>2-</b> Selecione a esteira, ou então, clique para criar uma nova.<br><br>

                                    <b>3-</b> A utilização do limite de entrada pode ser feito no ato da criação ou na edição da esteira.<br>
                                    Para aplicar, basta preencher o campo a seguir:<br>
                                    <img class="mbTut" src="content/images/wiki/esteira6.jpg"/><br>
                                    Após preenchido, basta clicar em salvar, ou então criar (caso esteja na etapa de criação).<br>
                                    <b>Obs¹:</b> Caso a esteira suporte um número ilimitado, basta preencher o campo com -1.
                                </li>
                            </ul>

                        </span>
                    </div>
                </li>
            </ul>

            <p class="ProcessTUT" id="conTypes">Tipos de esteiras</p>
            <ul class="collapsible popout">
                <li>
                    <div class="collapsible-header"><i class="fas fa-pallet"></i>Tipos de esteiras</div>
                    <div class="collapsible-body">
                        <span>

                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header"><i class="fas fa-pallet colorEModel"></i>Esteira de processamento</div>
                                <div class="collapsible-body">
                                    <span>
                                        <ul class="collection with-header">
                                            <li class="collection-header">
                                                A esteira do tipo <b>processamento</b>, são as únicas esteiras que executam processos, estes que são criados na aba de processos.<br>
                                                Na criação de uma esteira, ao selecionar o tipo <b>processamento</b>, você libera um campo extra, onde você deve selecionar qual processo aquela esteira irá executar.<br>
                                                Observe na imagem a seguir:
                                            </li>
                                            <li class="collection-item">
                                                <img class="mbTut" src="content/images/wiki/esteiraP1.jpg"/><br>
                                                Ao selecionar o tipo processamento, o primeiro processo criado virá selecionado por padrão, basta clicar no campo e, selecionar o processo que a esteira irá executar.<br><br>

                                                <b>Obs¹:</b> As esteiras de processamento sempre terão a cor AZUL.
                                            </li>
                                        </ul>

                                    </span>
                                </div>
                            </li>
                        </ul>

                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header"><i class="fas fa-pallet colorEArmazem"></i>Esteira de armazenamento</div>
                                <div class="collapsible-body">
                                    <span>
                                        <ul class="collection with-header">
                                            <li class="collection-header">
                                                A esteira do tipo <b>armazenamento</b>, são as únicas esteiras que apenas armazenam peças, estas que são <i>produzidas</i> por outras esteiras.<br>
                                                Na criação de uma esteira, ao selecionar o tipo <b>armazenamento</b>, diferente dos outros tipos, este não irá acrescentar nenhum campo.<br>
                                                <b>Importante:</b> No tipo <b>armazenamento</b>, o valor informado no campo <i>Limite de entrada</i> é a quantidade que a esteira poderá armazenar.<br>
                                                Observe na imagem a seguir:
                                            </li>
                                            <li class="collection-item">
                                                <img class="mbTut" src="content/images/wiki/esteiraP2.jpg"/><br>
                                                <b>Obs¹:</b> As esteiras de processamento sempre terão a cor LARANJA.
                                            </li>
                                        </ul>

                                    </span>
                                </div>
                            </li>
                        </ul>

                         <ul class="collapsible">
                            <li>
                                <div class="collapsible-header"><i class="fas fa-pallet colorEEtiqueta"></i>Esteira etiquetadora</div>
                                <div class="collapsible-body">
                                    <span>
                                        <ul class="collection with-header">
                                            <li class="collection-header">
                                                A esteira do tipo <b>etiquetadora</b>, são as únicas esteiras que mudam o rótulo da peça.<br>
                                                Na criação de uma esteira, ao selecionar o tipo <b>etiquetadora</b>, o campo extra será liberado, no qual você informa o valor inicial para a geração das etiquetas.<br>
                                                <b>Importante:</b> No tipo <b>etiquetadora</b>, ao definir um valor inicial, esta produzirá até um número ininito, caso crie outra etiquetadora com um número superior ao da outra esteira, o limite da primeira será o valor inicial da segunda.<br>
                                                <b>Ex:</b> Esteira A possui valor inicial 1, Esteira B possui valor inicial 15, então, a esteira A irá etiquetar até o valor 14 e a esteira B irá etiquetar de 15 até inifinito.
                                                Observe na imagem a seguir:
                                            </li>
                                            <li class="collection-item">
                                                <img class="mbTut" src="content/images/wiki/esteiraP3.jpg"/><br>
                                                <b>Obs¹:</b> As esteiras etiquetadoras sempre terão a cor VERDE (Teal).
                                            </li>
                                        </ul>

                                    </span>
                                </div>
                            </li>
                        </ul>

                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header"><i class="fas fa-pallet colorEDesvio"></i>Esteira de desvio</div>
                                <div class="collapsible-body">
                                    <span>
                                        <ul class="collection with-header">
                                            <li class="collection-header">
                                                A esteira do tipo <b>devio</b>, são as únicas esteiras que realizam o processo de balanceamento e separação das peças.<br>
                                                <b>Importante:</b> No tipo <b>etiquetadora</b> o campo extra Tipo de desvio será liberado. Existem apenas dois tipos de desvio, de Balanceamento e de Seleção.<br>
                                            </li>
                                            <li class="collection-item">
                                                <b>Balanceamento:</b> A esteira de desvio do tipo balanceamento, realiza a função de balancear a entrada de peças em várias saídas.<br>
                                                Observe a imagem:<br>
                                                <img class="mbTut" src="content/images/wiki/esteira7.jpg"/><br>
                                            </li>
                                            <li class="collection-item">
                                                <b>Seleção:</b> A esteira de desvio do tipo seleção, realiza a função de separar as peças, com base no último processo pelo qual a peça passou.<br>
                                                <b>Importante:</b> A esteira de desvio por seleção, deve ter, obrigatoriamente, três saídas:<br>
                                                <b>-</b> Processo Concluído/Aguardando <br>
                                                <b>-</b> Processo Defeituoso <br>
                                                <b>-</b> Processo Interrompido <br>

                                                Observe a imagem:<br>
                                                <img class="mbTut" src="content/images/wiki/esteira8.jpg"/><br>
                                            </li>
                                        </ul>

                                    </span>
                                </div>
                            </li>
                        </ul>

                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mtExp">
        <div class="col s12 m10 offset-m1">
            <h5>Processos</h5>
            <p class="ProcessTUT" id="newProcess">Criando/Editando um processo</p>
            <ul class="collapsible popout">
                <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>Finalidade de um processo</div>
                    <div class="collapsible-body">
                        <span>Processo são diversas etapas que uma peça terá que atravessar para completar uma certa operação. Ou seja, é qualquer ação que a peça terá que passar.</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-cogs"></i>Criando o processo</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection with-header">
                                <li class="collection-header">Para realizar a criação ou a edição de um novo processo, os próximos passos devem ser seguidos:</li>
                                <li class="collection-item">
                                    <b>1-</b> Acessar a página de Processos, pode ser acessada através do botão na barra de navegação:<br>
                                    <img class="mbTut" src="content/images/wiki/process1.jpg"/><br>

                                    <b>2-</b> Ao carregar a página, clique no seguinte botão:<br>
                                    <img class="mbTut" src="content/images/wiki/process2.jpg"/><br>

                                    <b>3-</b> Após clicar no botão, os seguintes campos devem ser liberados, preencha todas as informações:<br>
                                    <img class="mbTut" src="content/images/wiki/process3.jpg"/><br>

                                    <b>4-</b> Preenchidos todos os campos, basta clicar em criar:<br>
                                    <img class="mbTut" src="content/images/wiki/process4.jpg" /><br>

                                    <b>5-</b> Após criado, o processo deverá estar listado da seguinte forma:<br>
                                    <img class="mbTut" src="content/images/wiki/process5.jpg"/>
                                    <p class="warning">O processo irá aparecer de acorodo com a posição informada no processo de criação</p>
                                </li>
                            </ul>

                        </span>
                    </div>
                </li>
            </ul>

            <p class="ProcessTUT" id="appError">Aplicando a probabilidade de erro</p>
            <ul class="collapsible popout">
                 <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>Finalidade da probabilidade de erro</div>
                    <div class="collapsible-body">
                        <span> A função da probabilidade de erro é manter uma margem de erro máxima permitida para o processo. <br>
                                    <b>Ex:</b> Um processo possui 5% de probabilidade, então, o processo ao executar pode ter ATÉ 5% de falhar.<br></span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-cogs"></i>Aplicando a probabilidade de erro</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection with-header">
                                <li class="collection-header">
                                    Para utilizar basta seguir os seguintes passos:<br>
                                </li>
                                <li class="collection-item">
                                    <b>1-</b> Acessar a página de Processos, pode ser acessada através do botão na barra de navegação:<br>
                                    <img class="mbTut" src="content/images/wiki/process1.jpg"/><br>

                                    <b>2-</b> Selecione um processo, ou então, clique para criar um novo.<br><br>

                                    <b>3-</b> A utilização da probabilidade pode ser feita no ato da criação ou da edição do processo.<br>
                                    Para aplicar, basta preencher o campo a seguir:<br>
                                    <img class="mbTut" src="content/images/wiki/process6.jpg"/><br>
                                    Após preenchido, basta clicar em salvar, ou então criar o processo (caso esteja no processo de criação).
                                </li>
                            </ul>

                        </span>
                    </div>
                </li>
            </ul>

            <p class="ProcessTUT" id="utVariation">Utilizando variação</p>
            <ul class="collapsible popout">
                 <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>Finalidade da variação</div>
                    <div class="collapsible-body">
                        <span> A função da variação, é a porcentagem em que o tempo de execução do processo poderá sofrer.<br>
                        <b>Ex:</b> Um processo possui 5% de variação, então, o processo ao executar pode levar 5% a mais ou a menos de tempo estabelecido, para terminar.<br></span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-cogs"></i>Utilizando variação</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection with-header">
                                <li class="collection-header">
                                    Para utilizar basta seguir os seguintes passos:<br>
                                </li>
                                <li class="collection-item">
                                    <b>1-</b> Acessar a página de Processos, pode ser acessada através do botão na barra de navegação:<br>
                                    <img class="mbTut" src="content/images/wiki/process1.jpg"/><br>

                                    <b>2-</b> Selecione um processo, ou então, clique para criar um novo.<br><br>

                                    <b>3-</b> A utilização da variação pode ser feita no ato da criação ou da edição do processo.<br>
                                    Para aplicar, basta preencher o campo a seguir:<br>
                                    <img class="mbTut" src="content/images/wiki/process7.jpg"/><br>
                                    Após preenchido, basta clicar em salvar, ou então criar o processo (caso esteja no processo de criação).
                                </li>
                            </ul>

                        </span>
                    </div>
                </li>
            </ul>

            <p class="ProcessTUT" id="utFather">Utilizando um processo pai</p>
            <ul class="collapsible popout">
                 <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>Finalidade do processo pai</div>
                    <div class="collapsible-body">
                        <span> 
                            A função do processo pai é abranger vários processos. É um processo que possui sub-processos.<br>
                            <b>Ex:</b> O processo X possui como sub-processos A e B. Então, o processo PAI é X e processos filhos são A e B<br>
                            Serão executados os processos X, A e B; Nesta ordem.
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-cogs"></i>Aplicando o processo pai</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection with-header">
                                <li class="collection-header">
                                    Para utilizar basta seguir os seguintes passos:<br>
                                </li>
                                <li class="collection-item">
                                    <b>1-</b> Acessar a página de Processos, pode ser acessada através do botão na barra de navegação:<br>
                                    <img class="mbTut" src="content/images/wiki/process1.jpg"/><br>

                                    <b>2-</b> Selecione um processo, ou então, clique para criar um novo.<br><br>

                                    <b>3-</b> A aplicação do processo pai, pode ser feita no ato da criação ou da edição do processo.<br>
                                    Para aplicar, basta selecionar o processo a ser definido como pai, clicando no botão a seguir:<br>
                                    <img class="mbTut" src="content/images/wiki/process8.jpg"/><br>
                                    <b>Obs¹:</b> Após selecionado, basta clicar em salvar, ou então criar o processo (caso esteja no processo de criação).<br>
                                    <b>Obs²:</b> Caso não exista outro processo criado, será impossível definir um processo pai.
                                </li>
                            </ul>

                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mtExp">
        <div class="col s12 m10 offset-m1">
            <h5>Dashboard</h5>

            <p class="ProcessTUT" id="inLimit">Niveis de mensagem</p>
            <ul class="collapsible popout">
                 <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>Finalidade do limite de entrada</div>
                    <div class="collapsible-body">
                        <span> 
                            A função do limite de entrada, é limitar o número de peças que a esteira suporte. <br>
                            <b>Ex:</b> Uma esteira possui 5 como limite de entrada, então, a esteira irá permitir que apenas 5 peças fiquem na fila execução.<br>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-cogs"></i>Aplicando o limite de entrada</div>
                    <div class="collapsible-body">
                        <span>
                            <ul class="collection with-header">
                                <li class="collection-header">
                                    Para utilizar basta seguir os seguintes passos:<br>
                                </li>
                                <li class="collection-item">
                                    <b>1-</b> Acessar a página de Esteiras, pode ser acessada através do botão na barra de navegação:<br>
                                    <img class="mbTut" src="content/images/wiki/esteira1.jpg"/><br>

                                    <b>2-</b> Selecione a esteira, ou então, clique para criar uma nova.<br><br>

                                    <b>3-</b> A utilização do limite de entrada pode ser feito no ato da criação ou na edição da esteira.<br>
                                    Para aplicar, basta preencher o campo a seguir:<br>
                                    <img class="mbTut" src="content/images/wiki/esteira6.jpg"/><br>
                                    Após preenchido, basta clicar em salvar, ou então criar (caso esteja na etapa de criação).<br>
                                    <b>Obs¹:</b> Caso a esteira suporte um número ilimitado, basta preencher o campo com -1.
                                </li>
                            </ul>

                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>