@{
    ViewBag.Title = "Esteiras";
    ViewBag.Screen = "Esteiras";
}

<!-- Page content -->
<div class="content">
    <div class="row">
        <div class="col s12 m2 offset-m2 mt">
            <a class="btn-floating btn-large waves-effect waves-light red tooltipped modal-trigger" data-position="top" data-tooltip="Criar nova esteira" onclick="showModal();" href="#modal1"><i class="material-icons">add</i></a>
        </div>
    </div>
    <div id="modal1" class="modal modal1 modal-fixed-footer">
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="fas fa-pallet t"></i>Esteira 1</div>
                    <div class="collapsible-body">
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Item</th>
                                    <th>Item</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Alvin</td>
                                    <td>Eclair</td>
                                    <td>$0.87</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-pallet t"></i>Esteira 2</div>
                    <div class="collapsible-body">
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Item</th>
                                    <th>Item</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Alvin</td>
                                    <td>Eclair</td>
                                    <td>$0.87</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-pallet t"></i>Esteira 3</div>
                    <div class="collapsible-body">
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Item</th>
                                    <th>Item</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Alvin</td>
                                    <td>Eclair</td>
                                    <td>$0.87</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-pallet t"></i>Esteira 4</div>
                    <div class="collapsible-body">
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Item</th>
                                    <th>Item</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Alvin</td>
                                    <td>Eclair</td>
                                    <td>$0.87</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="~/Content/js/esteiras.js"></script>