@{
    ViewBag.Title = "Esteiras";
    ViewBag.Screen = "Esteiras";
}

<!-- Page content -->
<div class="content">
    <div class="row">
        <div class="col s12 m2 offset-m1 mt">
            <a class="btn-floating btn-large waves-effect waves-light green darken-4 tooltipped" data-position="top" data-tooltip="Criar nova esteira" onclick="showCreate();"><i class="material-icons">add</i></a>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col s12 m3 offset-m1" id="listEsteiras">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="fas fa-pallet colorEModel"></i>Esteiras Modelo</div>
                    <div class="collapsible-body" id="esteirasModel">

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-pallet colorEArmazem"></i>Esteiras de armazenamento</div>
                    <div class="collapsible-body" id="esteirasArma">

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-pallet colorEEtiqueta"></i>Esteiras etiquetadoras</div>
                    <div class="collapsible-body" id="esteirasEtiq">

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-pallet colorEDesvio"></i>Esteiras de desvio</div>
                    <div class="collapsible-body" id="esteirasDesvio">

                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12 m6" id="aboutEsteira"></div>
    </div>
</div>