@{
    ViewBag.Title = "Login";
    ViewBag.Screen = "Login";
}
<div class="content">
    <div class="row">
        <form>
        <div class="col s10 m4 offset-m4 offset-s1 mt white z-depth-5">
            <div class="row">
                <div class="input-field col s12">
                    <input id="user" type="text" class="validate">
                    <label for="user">Usuário</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Senha</label>
                </div>
            </div>
            <a>
                <label>
                    <input type="checkbox" />
                    <span>Lembrar senha</span>
                </label>
            </a>
            <button onclick='login()' class="btn waves-effect waves-light right teal darken-3">
                Entrar
                <i class="material-icons right">send</i>
            </button>
        </div>
        </form>
    </div>
</div>