@{
    ViewBag.Title = "Login";
    ViewBag.Screen = "Login";
}
<div class="content">
    <div class="row">
        <div class="col s10 m4 offset-m4 offset-s1 logoCard center">
            <img src="content/images/weg.png" width="50%"/>
        </div>
    </div>
    <div class="row">
        <form>
        <div class="col s10 m4 offset-m4 offset-s1 loginCard white z-depth-5 center">
            <h5>Login</h5>
            <div class="row">
                <div class="input-field col s12">
                    <input id="user" type="text" class="validate">
                    <label for="user">Usuário</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Senha</label>
                </div>
            </div>
            <button id="btnLogin" disabled onclick='login()' class="btn waves-effect waves-light right teal darken-3">
                Entrar
                <i class="material-icons right">send</i>
            </button>
            
            <div id="loading">
                <div class="progress light-blue lighten-3">
                    <div class="indeterminate light-blue"></div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>