@{
    ViewBag.Title = "Dashboard";
    ViewBag.Screen = "Dashboard";
}

<!-- Page content -->
<div class="row">
    <div class="col s12 m8 offset-m2"><br>
        <a class="waves-effect waves-light btn right red darken-4" onclick="clearDashboard()"><i class="material-icons left">clear_all</i>Limpar</a>
        <table class="stripped highlight" id="banana">
            <thead>
                <tr>
                    <th>Horario</th>
                    <th>Mensagem</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody id="xuxu"></tbody>
        </table>
    </div>
</div>