.pacific{
	font-family: 'Pacifico', cursive;
}

.mt{
	margin-top: 10vh;
}

.navbar-fixed {
	z-index: 999;
}

.t{
	color: #0d47a1 ;
}

.cpd{
	color: red;
}

.kk{
	padding: 0;
	padding-left: 10%;
	padding-top: 4%;
}

.op{
	padding-left:  0 !important;
}

.h{
	margin: 0 !important;
	width: 20px !important;
}