.esteiraP {
    width: 100px;
    border-radius: 5px 15px 15px 5px;
    height: 48px;
    border: 0;
    color: white;
    font-size: 12px;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
}

.conectorP {
    width: 100px;
    border-radius: 5px 15px 15px 5px;
    height: 48px;
    border: 0;
    background-color: transparent;
}

.scroll {
    overflow: auto;
    white-space: nowrap;
    margin-top: 5vh;
}

#tdropesteiras {
    width: 0;
}

#ttrash {
    width: 0;
}

.tCell {
    width: 110px;
    max-width: 110px;
    min-width: 110px;
    height: 80px;
    max-height: 80px;
    min-height: 80px;
}

.tCellLines {
    width: 25px;
    max-width: 25px;
    min-width: 25px;
    height: 80px;
    max-height: 80px;
    min-height: 80px;
    vertical-align: middle;
    text-align: center;
}

.tCellColumn {
    width: 110px;
    max-width: 110px;
    min-width: 110px;
    height: 25px;
    max-height: 25px;
    min-height: 25px;
    vertical-align: middle;
    text-align: center;
}

.tCellFirst {
    width: 25px;
    max-width: 25px;
    min-width: 25px;
    height: 25px;
    max-height: 25px;
    min-height: 25px;
    vertical-align: middle;
    text-align: center;
}

.tTrash {
    padding: 0 !important;
}

.dTrash {
    border-radius: 10px;
    width: 110px;
    height: 80px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#tdropesteiras > tbody > tr > td {
    border: 1px solid black;
}

.tableStyle {
    border: #880e4f solid 1px;
}

.noPadding {
    padding: 0 !important;
}

.branco{
    font-size: 40px; 
    color: white;
}

.trashMargin{
    margin-top: 5vh;
}


.mleft{
    margin-left: 2vh;
}