@{
    ViewBag.Title = "Producao";
    ViewBag.Screen = "Producao";
}

<!-- Page content -->
<div class="content">
    <div class="row mt">
        <div class="col s12 m3 l3 offset-m1 offset-l1" id="listEsteiras">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="fas fa-pallet colorIconPrincipal"></i>Esteiras Modelo</div>
                    <div class="collapsible-body" id="esteirasModelProd">

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-pallet colorIconPrincipal"></i>Esteiras de armazenamento</div>
                    <div class="collapsible-body" id="esteirasArmaProd">

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-pallet colorIconPrincipal"></i>Esteiras etiquetadoras</div>
                    <div class="collapsible-body" id="esteirasEtiqProd">

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-pallet colorIconPrincipal"></i>Esteiras de desvio</div>
                    <div class="collapsible-body" id="esteirasDesvioProd">

                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12 m6" id="listaProd"></div>
    </div>
</div>